<!-- #docregion align-start -->
 <div>
  <div>
<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
  <!-- #enddocregion align-start -->
    <mat-tab label="Leader Board">
      <div class="center-div">
      <app-board></app-board>
    </div>
    </mat-tab>
    <mat-tab label="Player Score">
      <div class="center-div">
        <h3>Enter Player Score</h3>
      </div>
      <div class="center-div">
      <app-player-score></app-player-score>
    </div>
    </mat-tab>
      
  </mat-tab-group>
</div>

</div>
 